# macOS system files
.DS_*

# Log files
*.log
logs/
**/*.backup.*
**/*.back.*

# Dependencies
node_modules/
client/node_modules/
server/node_modules/
bower_components/
server/config.js
# Editor & IDE files
*.sublime*
.vscode/
.idea/

# Design files
*.psd
*.thumb
*.sketch
